
<nav>
      <div class="logo">Login</div>
      <div class="menu">
        <a href="home.html">Home</a>
        <a href="register.html">Register</a>
        <a href="index.html">Login</a>
        <a href="profile.html">Profile</a>
        <a href="register.html">Logout</a>
      </div>
    </nav>